<!DOCTYPE html>
<html lang="en">
<head>
<title>Fares Khafajah|Home</title>
<!-- custom-theme -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Portfolio-CSS -->	<link rel="stylesheet" href="../static/css/swipebox.css" type="text/css" media="all">
		
<link href="../static/css/aos.css" rel="stylesheet" type="text/css" media="all" /><!-- //animation effects-css-->

<link rel="stylesheet" href="../static/css/index.css"><!-- skills bars CSS-->

<!-- custom-theme -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //custom-theme -->
	  
<!-- font-awesome-icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->

<!-- googlefonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext" rel="stylesheet">
<!-- //googlefonts -->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- banner -->
<div class="banner" id="home">
	<div class="agileinfo-dot">
		<div class="container">
		<!-- header -->
		<div class="header-w3layouts"> 
			{% block Ynavbar %}
			{% endblock %}
		</div>	
		<!-- //header -->

			<div class="w3_banner_info">
				<div class="w3_banner_info_grid">
					<h2 data-aos="fade-right">Hi, iam </h2>
					<h2 data-aos="fade-right">Fares Khafajah.</h2>
					<h5>Programmer.</h5>
					<p>16 years old palestinian programmer who is looking to be the best.</p>
					<ul data-aos="slide-up">
						<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Know More</a></li>
						<li><a href="#" class="scroll w3l_contact"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a></li>
					</ul>
				</div>
			</div>
			<div class="thim-click-to-bottom">
				<a href="#about" class="scroll">
					<i class="fa fa-arrows-v" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- banner -->

<!-- bootstrap-modal-pop-up -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">About Me</h4>
				</div> 
				<div class="modal-body">
					<div class="modalpad"> 
						<div class="modalpop ">
							<img src="../static/images/1.jpeg" class="img-responsive" alt=""/>
						</div>
						<div class="about-modal wthree">
							<h3>Hi, i'm <span>Fares Khafajah</span></h3>
							<h4>Programmer</h4>
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>07-03-2001</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE </b></li>
										<li>+970-0597333895</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>Ramallah-Birzeit.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com">Fares Khafajah@outlook.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="#">www.FaresKh.org</a></li>
									</ul>
								</li>
							</ul> 
						</div> 
						<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- //modal -->	
<!-- //bootstrap-modal-pop-up --> 

<!-- about -->
<div class="about" id="about">
	<h3 data-aos="zoom-in">About me</h3>
	<div class="col-md-6 about-left">
		<h3 data-aos="slide-up">Hello</h3>
		<p>I am from palestine and I live in birzeit, right now i am studying in Al Ameer Hassan School , Amideast Acess and code for palestine.</p>
		<p>My experience in programming started at an early age, at age of 9 I made my first website and I kept devloping and I will keep devloping until I die. </p>
	</div>
	<div data-aos="flip-right" class="col-md-6 about-right">
	</div>
	<div class="clearfix"></div>
</div>
<!-- //about -->

<!-- skills -->
<div class="skills" id="skills">
	<div class="container">
				<h3 data-aos="zoom-in">Skills</h3>
		<div class="skill-grids">
			<div class="col-md-6 skill-grids-left">
				<div data-aos="flip-left" class="col-md-6 w3labout-img"> 
				<div class="boxw3-agile"> 
					<img src="../static/images/s1.jpg" alt="" class="img-responsive" />
					<div class="agile-caption">
						<h3>Html5</h3>
					</div> 
				</div>
				</div>
				<div data-aos="flip-right" class="col-md-6 w3labout-img"> 
				<div class="boxw3-agile"> 
					<img src="../static/images/s2.jpg" alt="" class="img-responsive" />
					<div class="agile-caption">
						<h3>Python</h3>
						<p>Lorem ipsum dolor sit amet.</p>
					</div> 
				</div>
				</div>
				<div class="clearfix"></div>
				<div  data-aos="flip-left" class="col-md-6 w3labout-img"> 
				<div class="boxw3-agile"> 
					<img src="../static/images/s3.jpg" alt="" class="img-responsive" />
					<div class="agile-caption">
						<h3>Jquery</h3>
						<p>Lorem ipsum dolor sit amet.</p>
					</div> 
				</div>
				</div>
				<div data-aos="flip-right" class="col-md-6 w3labout-img"> 
				<div class="boxw3-agile"> 
					<img src="../static/images/s4.jpg" alt="" class="img-responsive" />
					<div class="agile-caption">
						<h3>JavaScript</h3>
						<p>Lorem ipsum dolor sit amet.</p>
					</div> 
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 skill-grids-right">
					
			<!-- Skills -->
			<div class="skillbar clearfix " data-percent="80%">
				<div class="skillbar-title" style="background: #ff4f81;"><span>HTML5</span></div>
				<div class="skillbar-bar" style="background: #ff4f81;"></div>
				<div class="skill-bar-percent">80%</div>
			</div> <!-- End Skill Bar -->

			<div class="skillbar clearfix " data-percent="65%">
				<div class="skillbar-title" style="background: #ff9900;"><span>CSS3</span></div>
				<div class="skillbar-bar" style="background: #ff9900;"></div>
				<div class="skill-bar-percent">65%</div>
			</div> <!-- End Skill Bar -->

			<div class="skillbar clearfix " data-percent="30%">
				<div class="skillbar-title" style="background: #8e43e7;"><span>javascript</span></div>
				<div class="skillbar-bar" style="background: #8e43e7;"></div>
				<div class="skill-bar-percent">30%</div>
			</div> <!-- End Skill Bar -->

			<div class="skillbar clearfix " data-percent="70%">
				<div class="skillbar-title" style="background: #146eb4;"><span>Python</span></div>
				<div class="skillbar-bar" style="background: #146eb4;"></div>
				<div class="skill-bar-percent">70%</div>
			</div> <!-- End Skill Bar -->

			<div class="skillbar clearfix " data-percent="15%">
				<div class="skillbar-title" style="background: #11b563;"><span>Java</span></div>
				<div class="skillbar-bar" style="background: #11b563;"></div>
				<div class="skill-bar-percent">15%</div>
			</div> <!-- End Skill Bar -->

				
			<!-- //Skills -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //skills -->

<!-- /education -->
 <div class="education" id="education">
	    <div class="col-md-5 education-w3l">
		     <h3 data-aos="zoom-in" class="w3l_head three">My Education</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2016-Now</h4>
						   <h6>Al Ameer Hassan Scool</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>High school.</h4>
						   <p>I will finish in two years and go for computer science in the university </p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>2016-Now</h4>
						   <h6>Acess Programme</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>English degree</h4>
						   <p>Programme from Amideast focuses on English and American culture.</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year last">
					       <h4>2016-Now</h4>
						   <h6>Code for Palestine</h6>
				     </div>
					 <div class="education-agile-w3l-info last">
					       <h4>Programming programme</h4>
						   <p>Programming programme powered by Paltel group foundation focuses on programming and other skills like leadership and design thinking. </p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				 
			  </div>
		</div>
		
		<div data-aos="slide-up" class="col-md-2 middle">
			<i class="fa fa-hourglass-end" aria-hidden="true"></i>
		</div>
		
	    <div class="col-md-5 education-w3l">
		     <h3 data-aos="zoom-in" class="w3l_head three">My Experience</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>Now</h4>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Web Developer</h4>
						   <p>Co-owner at flame of war hosting.Devloped many personal sites and looking to work soon.</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>Now</h4>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>App Developer</h4>
						   <p>I can devlop apps and games in python, I can almost make any 2D game.</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year last">
					       <h4>Now</h4>
				     </div>
					 <div class="education-agile-w3l-info last">
					       <h4>Graphic Designer</h4>
						  	<p>I can work with photoshop and design posters, I work with a voulntary group named "nabd el madares"</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				 
			  </div>
		</div>
		 <div class="clearfix"> </div>
		</div>
 <!-- //education -->
 


<!-- contact -->
<div class="contact" id="contact">
	<div class="container">
		<div class="col-md-6 contact-left">
			<h3 data-aos="zoom-in" >contact me</h3>
				<p>You can contact me for anything with the following infos.</p>
				<p>Contact Me form doesn't work yet</p>
			<form action="#" method="post">
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="text" name="Subject" placeholder="Company Name" required="">
					</div>
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="text" name="Phone" placeholder="Phone" required="">
					</div>
				<div class="clearfix"> </div>
				<textarea name="Message" placeholder="Message..." required=""></textarea>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="col-md-6 contact-right">
			<div data-aos="flip-down" class="col-md-6 contactright1">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<h4>Location</h4>
			<p>Birzeit-Ramallah-Palestine</p>
			</div>
			<div data-aos="flip-down" class="col-md-6 contactright1">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
			<h4>Phone</h4>
			<p>+970-0597333895</p>
			</div>
			<div class="clearfix"></div>
			<div data-aos="flip-up"class="col-md-6 contactright1">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<h4>Support</h4>
			<p><a href="mailto:info@example.com">support@FaresKh.org</a></p>
			</div>
			<div data-aos="flip-up" class="col-md-6 contactright1">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<h4>Mail</h4>
			<p><a href="mailto:info@example.com">Fares.Khafajah@outlook.com</a></p>
			</div>
			<div class="clearfix"></div>
			<ul class="top-links">
				<li data-aos="flip-right"><a href="https://www.facebook.com/Fares.Khafajah"><i class="fa fa-facebook"></i></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //contact -->


<!-- copyright -->
<div class="copyright-agile">
	<div class="container">
		<h4>Fares Khafajah|Website</h4>
		<p>© 2017 Fares Khafajah. All rights reserved</p>
		<div class="clearfix"></div>
	</div>
</div>
<!-- copyright -->

<!-- js -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<!-- for bootstrap working -->
	<script src="../static/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- //js -->

<!-- Gallery-Tab-JavaScript -->
			<script src="../static/js/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});
				})();
			</script>
<!-- //Gallery-Tab-JavaScript -->
	<!-- Swipe-Box-JavaScript -->
			<script src="../static/js/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
			</script>
		<!-- //Swipe-Box-JavaScript -->

<!-- Scrolling Nav JavaScript --> 
    <script src="../static/js/scrolling-nav.js"></script>  
<!-- //fixed-scroll-nav-js --> 

<script src="../static/js/index.js"></script><!-- skills bars JS FILE-->
	
<!-- animation effects-js files-->
	<script src="../static/js/aos.js"></script><!-- //animation effects-js-->
	<script src="../static/js/aos1.js"></script><!-- //animation effects-js-->
<!-- animation effects-js files-->

<!-- //here starts scrolling icon -->
<script src="../static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling script -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling script -->
<!-- //here ends scrolling icon -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->

</body>
</html>